@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    background: #e4e9f7;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}
.box{
    background: #fdfdfd;
    display: flex;
    flex-direction: column;
    padding: 25px 25px;
    border-radius: 20px;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
                0 32px 64px -48px rgba(0,0,0,0.5);
}
h1,p, h2
{
    color:powderblue !important;
}
table {
    width: 100%;
    border-collapse: collapse;
    color:powderblue;
}
table{
    border: 3px solid #516b81;
}
th, td {
    border: 3px solid #516b81 !important;
    padding: 10px;
    text-align: left;
    padding: 10px;
    text-align: left;
}
th {
    background-color: #283845; 
    color: white;
    font-weight: bold; 
}
.form-box{
    width: 450px;
    margin: 0px 10px;
}
.form-box header{
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 10px;
}
.form-box form .field{
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;

}
.form-box form .input input{
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}
.btn{
    height: 35px;
    background: #333;
    border: 0;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: all .3s;
    margin-top: 10px;
    padding: 0px 10px;
}
.btn:hover{
    opacity: 0.82;
}
.submit{
    width: 100%;
}
.links{
    margin-bottom: 15px;
}

/**********Criptografie*************/

code {
    display: block;
    background-color: #e2e2e27e;
    padding: 10px;
    border-left: 5px solid #ccc;
    margin-bottom: 20px;
    white-space: pre-wrap;
}
pre {
    background-color: #a9b6da;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #a9b6da;
    overflow: auto;
}
.keyword {
    color: #d73a49;
    font-weight: bold;
}
.function {
    color: #6f42c1;
}
.comment {
    color: #6a737d;
    font-style: italic;
}
.number {
    color: #0366d6;
}

.accordion {
    background-color: #516b81;
    color: #111111;
    font-weight: bold;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline-style: outset;
    outline-color: #A9A9A9;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #89cff0;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: #89cff0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
a
{
    color: white;
}
/********* Home *****************/

/* .nav{
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    line-height: 60px;
    z-index: 100;
} */
.logo{
    font-size: 25px;
    font-weight: 900;
    
}
.logo a{
    text-decoration: none;
    color: white;
}
.right-links a{
    padding: 0 10px;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}
.main-box{
    display: flex;
    flex-direction: column;
    width: 70%;
}
.main-box .top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bottom{
    width: 100%;
    margin-top: 20px;
}
.status
{
    background-color:#28242c;
    color:white;
    border:0px;
}

.message{
    text-align: center;
    background: #f9eded;
    padding: 15px 0px;
    border:1px solid #699053;
    border-radius: 5px;
    margin-bottom: 10px;
    color: red;
}

@media only screen and (max-width:870px){
    .main-box .top{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .top .box{
        margin: 10px 10px;
    }
    .bottom{
        margin-top: 0;
    }
}.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
  }.centerr {
    line-height: 200px;
    height: 200px; 
    text-align: center;
  }
  
  /* If the text has multiple lines, add the following: */
  .center p {
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
  }textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
  }.dropdown-menu {
    background-color: #f8f9fa; /* Light background color */
    border-radius: 0.5rem; /* Rounded corners */
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    left: 0;
}
.dropdown-toggle {
    width: 100%; /* Asigură-te că butonul ocupă întreaga lățime a containerului */
    padding: 0.5rem 1rem; /* Ajustează paddingul */
}


.dropdown-item {
    color: #495057; /* Dark text color */
    padding: 10px 20px; /* Padding for buttons */
}

.dropdown-item:hover {
    background-color: #e2e6ea; /* Light grey on hover */
    color: #212529; /* Darker text color on hover */
}
